*{
  padding: 0%;
  margin: 0%;
}

html{
  font-size: clamp(0.75rem,1vw,1rem);
  font-family: sans-serif;
}
.header__logo li img{
  height: 5rem;
  cursor: pointer;
}
@media screen and (max-width:768.5px) {
  .header__logo{
    width: 100vw;
  }
}

.header__icons li i{
  color: #41b3e5;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size:2rem;
}
.nav-link:hover{
  border-bottom: 3px solid #225ab9;
  width: 50%;
}
.nav-link{
  border-bottom: 3px solid white;
  width: 50%;
}
.header__left__btn{
  background-color: #41b3e5;
  color: white;
  font-weight: 800;
  padding: 0.7rem 1.7rem;
  border: 0ch;
  border: 1px solid #41b4e5;
}
.header__left__btn:hover{
  background-color:  white;
  color: #41b3e5;
  border: 1px solid #41b4e5;
}

.banner{
  background-image: url(assets/banner.jpg);
}