*{
  padding: 0;
  margin: 0;
  
}
 
html{
  font-size: clamp(0.75rem,1vw,1rem);
}

header{
  background-image: url(assets/banner.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%; 
}

.header__logo li img{
  width: 15rem;
  cursor: pointer;
}
.header__icons li img{
  height: 2rem;
  width: 2rem;
}
@media screen and (max-width:480px) {
  .header__logo li img{
    width: 80vw;
  }
}

.nav-link{
  color: black !important;
  border: 0px solid #43c370 !important;
  font-size: 1.2rem;
  border-bottom: 3px solid rgba(0, 0, 0, 0) !important;
}
.nav-link:hover{
  color: white !important;
  border-bottom: 3px ridge #43c370 !important;
}
.header__icons li{
  border: 1px solid black;
  border-radius: 2rem 2rem;
  padding: .5rem;
  height: fit-content;
}

/*---------------------banner------------------ */
.banner{
  margin: 10rem auto;
}
.banner .banner__header{
  font-size: 4rem;
  font-weight: 600;

}
.accordion-button::after {
  display: none;
}
.accordion-item{
  border-radius: 0% !important;
  background-color: #383945;
  border: 0;
}
.accordion-body .dropdown button{
  width: 10rem;
  border-radius: 0%;
  padding: .5rem;
}
.accordion-body .dropdown{
  padding: 1rem;
}
.accordion-body form input{
  padding: 0.5rem;
  margin: 1rem;
  width: 15rem;
}
.accordion-header button{
  background-color:#383945!important;
  border: 0;
  color: white !important;
  font-weight: 600;
}

.accordion-button:not(.collapsed){
  color: #43c370!important;
}
.serch__settings{
  margin: 1rem;
  font-size: 1rem;
  width: 5rem;

}

.accordion-body .search-btn{
  background-color: #234dd4;
  border: 0px;
  color: white;
  height: 3rem;
  margin: 1rem;
  width: 10rem;
  font-weight: 600;
}

/* -----------------------banner end--------------- */

.home-content h2{
  font-size: 3rem;
  width: 80%;
  font-family: 'Dancing Script', cursive;
font-family: 'Raleway', sans-serif;
}
.home-content .top-content{
  margin-top: 1rem;
  font-size: 1.25rem;
  width: 80%;
  color: black;
}

.home__bottom-content{
  width: 80%;
  font-size: 1.2rem;
  font-weight: 100;
}

.home-image img{
  height: border-box;
}

.featured__heading{
  font-size: 3rem;
  font-weight: 600;
}
.featured__item span{
  font-size: 1.2rem;
  color: grey;
}


.ribbon{
  background-color: #234dd4;
}
.ribbon h2{
  font-size: 3rem;
}
.ribbon button{
  padding: 1rem 2rem;
}
footer{
  background-color: #303441;
}
.footer__list-btn{
  background:transparent;
  border: 0ch;
  color: #234dd4;
}
.footer__list-headding{
  font-size: 1.3rem;
}
.footer__bottom_link{
  padding: 0 1rem;
  border-right: 2px solid #d6d6d9;
}
.form__btn{
  background-color: #234dd4;
  color: white;
  padding: 1rem 2rem;
  border: 0.5rem;
  font-weight: 600;
  margin: 0rem;
  width: 95%;
}
.footer__input{
  background-color: #454954;
  border: 0ch;
  margin-bottom: 0.5rem;
  padding: 1rem;
  width: 95%;
}
.copy{
  padding-top: 1rem;
  border-top: 1px solid #595d67;
}
.footer__icons li{
  margin: 0 1.5rem;
  font-size: 1.7rem;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #d6d6d9;
  border-radius: 100%;
}
